[submodule "components/esp-homekit-sdk"]
	path = components/esp-homekit-sdk
	url = https://github.com/lerebel103/esp-homekit-sdk.git
[submodule "components/esp-ssr-controller"]
	path = components/esp-ssr-controller
	url = https://github.com/lerebel103/esp-ssr-controller.git
