[submodule "components/ESP32-MAX31865"]
	path = components/ESP32-MAX31865
	url = https://github.com/lerebel103/ESP32-MAX31865.git
[submodule "components/esp-homekit-sdk"]
	path = components/esp-homekit-sdk
	url = https://github.com/lerebel103/esp-homekit-sdk.git
[submodule "components/esp-ssr-controller"]
	path = components/esp-ssr-controller
	url = https://github.com/lerebel103/esp-ssr-controller.git
